<div class="index-style">
  <br>
  <div class="container-fluid">
    <% @tweets.each_slice(4) do |three_tweets| %>
    <div class="row">
      <div class="col-sm-3">
        <%three_tweets.each do |tweet|%>
          <div class="card border-primary mb-5" style="width: 18rem;">
            <h5 class="card-header"><b><%= tweet.title%></b></h5>
            <div class="card-body">
              <p class="card-text"><%= tweet.content%></p>
              <%= link_to 'Show' , tweet, class: "btn btn-primary"%>
              <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-warning" %>
              <%= link_to 'Delete', tweet, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <div class="card-footer">
              <small class="text-muted"><%= tweet.updated_at%></small>
            </div>
          </div>
        <%end%>
      </div>
      <br>
    <%end%>
    </div>
    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d392.80485156676184!2d-70.63448310386227!3d-33.4415444257249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf6327f8b79b%3A0x1b8a92ab14abf654!2sDesaf%C3%ADo%20Latam%20-%20Baquedano!5e0!3m2!1ses!2scl!4v1567448586166!5m2!1ses!2scl" width="645" height="1000" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      <br>
      <br>
      <div class="responsiveCal">
        <iframe src="https://calendar.google.com/calendar/embed?src=marzottanacho%40gmail.com&ctz=America%2FSantiago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>
      </div>
    </div>
  </div>
  <br>
  <div type="button" class="btn btn-secondary btn-lg btn-block">
    <%=link_to 'Shitpost a New Tweet', new_tweet_path %>
  </div>
  <br>
</div>